netplex {
  controller {
    max_level = "debug";
    logging {
      type = "stderr";
    }
  };
  service {
    name = "nethttpd";
    protocol {
      name = "http";
      address {
        type = "internet";
        bind = "0.0.0.0:8091";
      };
    };
    processor {
      type = "nethttpd";
      host {
        pref_name = "localhost";
        pref_port = 8091;
        names = "*:0";
        uri {
          path = "/oauth1callback";
          service {
            type = "dynamic";
            handler = "oauth1callback";
          }
        };
        uri {
          path = "/oauth2callback";
          service {
            type = "dynamic";
            handler = "oauth2callback";
          }
        };
      };
    };
    workload_manager {
      type = "dynamic";
      max_jobs_per_thread = 1;
      min_free_jobs_capacity = 1;
      max_free_jobs_capacity = 1;
      max_threads = 20;
    };
  }
}

